@charset "UTF-8";
/**
 * Main styles
 **/
html {
	font-size: 18px;
	color: $white;
}

body {
    font-family: Roboto,"Open Sans", "Proxima Nova", "Aktiv Grotesk Corp", Arial, sans-serif;
	overflow-wrap: break-word;
	word-wrap: break-word;
}